.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'Manrope';
  src: url('/src/assets/fonts/Manrope-SemiBold.ttf') format('ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Helvetica';
  src: url('/src/assets/fonts/HelveticaNeueCondensedBold.ttf') format('ttf');
}

.avatar {
  border-radius: 50%;
}

.custom-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #010101; 
  transition: background-color 0.3s ease;
  color: #ffffff; 
}

.navbar-brand,
.custom-navbar .nav-link {
  color: white !important;
}

.section1 {
  background-image: url('/src/assets/images/henry.jpg');
  background-size: cover; 
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

